body {
  background-color: #0d27501f;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 80px;
}
/*LOADER*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content__loader {
  top: 0;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 15px solid #ccc;
  border-top-color: #ffa600;
  border-top-style: groove;
  font-size: 13px;
  height: 100px;
  width: 100px;
  animation-delay: -0.16s;
  border-radius: 100%;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
/*HEADER*/
.favorite__header,
.index__header,
.list__header {
  margin: 10px 0px 5px;
  display: flex;
  justify-content: center;
}
.favorite__header__content,
.list__header__content,
.index__header__content {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
    inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 270px;
}
.list__header__content {
  filter: blur(5px);
}
.header__fx {
  padding: 0px 50px;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 7px 7px 10px #0d27501f, -3px -3px 7px #ffffff;
}
.header__subtitle {
  width: 135px;
  margin: 5px 0px -5px;
}
.header__title {
  margin: 0px 0px 5px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 1px #868686;
  text-shadow: 4px 4px 5px #0d27501f, -1px -1px 2px #ffffff;
}
.nameUser {
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #ffa600;
}
/*INDEX*/

.index__article {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
    inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
}
.index__section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.index__section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 6px;
  color: white;
  background-color: #3c464e;
  box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff;
  text-align: center;
  margin: 20px 15px 5px;
  font-size: 20px;
  width: 240px;
  min-height: 65px;
}
.index__section__oldest {
  margin: 5px;
}
.index__section__newest {
  margin: 5px;
}
.index__section__update {
  margin: 5px;
}

.index__section__botton {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  padding: 5px 15px;
  margin: 10px 15px 15px;
  background-color: #ffa600;
  color: white;
  box-shadow: 3px 3px 5px #0d27501f, -2px -2px 4px #ffffff;
  border-radius: 5px;
  border: transparent;
}
.index__section__botton:hover {
  background-color: #3c464e;
  box-shadow: 3px 3px 5px #0d27501f, -2px -2px 4px #ffffff;
}
.index__section__nameEncode {
  display: none;
}

/*LIST*/
.list__contnent__login {
  border: solid 2px white;
  top: 60px;
  height: 350px;
  border-radius: 15px;
  z-index: 50;
  display: flex;
  flex-flow: column;
  margin: 5px;
  position: fixed;
  width: 300px;
  background-color: #868686b0;
  align-items: center;
  justify-content: space-between;
}
.list__button__login {
  width: 120px;
  height: 50px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin: 0px 0px 30px;
  background-color: #ffa600;
  box-shadow: 0px 0px 2px #0d2750;
  border-radius: 5px;
  border: transparent;
  color: white;
}
.list__button__login:hover {
  background-color: #3c464e;
}
.list__button__quit {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color: #ffa600;
  box-shadow: 0px 0px 2px #0d2750;
  border-radius: 5px;
  border: transparent;
  color: white;
  align-self: flex-end;
}
.list__button__quit:hover {
  background-color: #3c464e;
}
.list__msj__login {
  text-align: center;
  margin: 0px 15px;
  color: white;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}

.back__index {
  display: none;
  position: fixed;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0.89);
  border-radius: 5px;
  border: 2px solid white;
  z-index: 10;
  bottom: 0;
  width: 150px;
  margin: 0px 0px 15px 70px;
}
.back__index__favorites{
  position: fixed;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  padding: 5px 15px;
  background-color: rgba(255, 0, 0, 0.89);
  border-radius: 5px;
  border: 2px solid white;
  z-index: 10;
  bottom: 0;
  width: 150px;
  margin: 0px 0px 15px 70px;
}
.back__favorites {
  display: none;
  position: fixed;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  margin: 0px 0px 56px 70px;
  padding: 5px 15px;
  background-color: #ffa600e7;
  border-radius: 5px;
  border: 2px solid white;
  z-index: 10;
  bottom: 0;
  width: 150px;
}
.favorite__section{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.list__section {
  transition: 0.5s;
  filter: blur(5px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.favorite__article,
.list__article {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 10px #0d27501f, -5px -5px 7px #ffffff,
    inset -5px -5px 10px #ffffff9f, inset 5px 5px 15px #0d27501f;
}

.list__books__title {
  background-color: #3c464e;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 7px 7px 10px #0d27501f, -3px -3px 7px #ffffff;
  text-align: center;
  margin: 20px 15px 5px;
  font-size: 17px;
  width: 240px;
  min-height: 20px;
}
.list__books__author {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  margin: 2px;
  font-size: 15px;
  width: 230px;
}
.list__books__img {
  box-shadow: 5px 5px 10px #0d275034, -3px -3px 7px #ffffff;
  border-radius: 5px;
  margin: 5px;
  width: 150px;
}
.list__books__weeks {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  margin: 5px 20px 5px;
  width: 240px;
  min-height: 15px;
  font-size: 15px;
  margin: 2px;
  color: #ffa600;
}
.list__books__description {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  margin: 5px 20px 5px;
  width: 230px;
  min-height: 15px;
  font-size: 15px;
  margin: 5px;
  text-align: center;
}
.books_subContent {
  margin: 5px 0px 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.list__books__botton {
  margin: 0px 10px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  padding: 10px 15px;
  background-color: #ffa600;
  box-shadow: 5px 5px 10px #0d27501f, -3px -3px 7px #ffffff;
  border-radius: 5px;
  border: transparent;
  color: white;
}
.list__books__botton:hover {
  background-color: #3c464e;
  box-shadow: 3px 3px 5px #0d27501f, -2px -2px 4px #ffffff;
}
.favorite__delete{
  margin: 0px 0px;
  width: 25px;
  height: 20px;
}
.list__books__favorite {
  display: none;
  margin: 0px 5px;
  width: 30px;
  height: 30px;
}
.favorite__books__delete,
.list__books__botton2 {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: transparent;
  border: transparent;
}

.favorite__delete:hover{
  width: 32px;
  height: 25px;
}


@media screen and (min-width: 768px) {
  .index__header{
    width: 740px;
  }
  .favorite__header,
  .list__header {
    width: 768px;
  }
  .favorite__header__content,
  .index__header__content,
  .list__header__content {
    width: 95%;
  }
  .header__fx {
    width: 650px;
    text-align: center;
  }
  .index__section {
    flex-flow: row wrap;
  }
  .index__article {
    height: 250px;
  }
  .index__section__title {
    width: 190px;
  }
  .favorite__section,
  .list__section {
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .favorite__article,
  .list__article {
    justify-content: space-between;
    width: 230px;
    height: 600px;
  }
  .list__books__title {
    margin: 10px 5px 5px;
    width: 190px;
  }
  .list__books__description {
    width: 190px;
  }
  .list__books__botton {
    padding: 5px;
    width: 150px;
  }
  .back__favorites {
    right: 0;
    margin-right: 15px;
  }
  .back__index__favorites,
  .back__index {
    right: 0;
    margin-right: 15px;
  }
}
@media screen and (min-width: 960px) {
  .index__header {
    width: 985px;
  }
}
@media screen and (min-width: 1000px) {
  .favorite__header,
  .list__header {
    width: 1030px;
  }
}
@media screen and (min-width: 1200px) {
  .index__header {
    width: 1240px;
  }
}
@media screen and (min-width: 1250px) {
  .favorite__header,
  .list__header {
    width: 1300px;
  }
}
@media screen and (min-width: 1440px) {
  .index__header {
    width: 1495px;
  }
}
@media screen and (min-width: 1500px) {
  .favorite__header,
  .list__header {
    width: 1555px;
  }
}
@media screen and (min-width: 1680px) {
  .index__header {
    width: 1750px;
  }
}
@media screen and (min-width: 1750px) {
  .favorite__header,
  .list__header {
    width: 1815px;
  }
}
@media screen and (min-width: 1920px) {
  .index__header {
    width: 2000px;
  }
}